 .products_section {
  
    width: 100%;
    background-color: #fff;
    border-radius: 4px;  
}


.product_image__image{
    width: 200px;
    height: 190px;
    object-fit: contain;
   
   
    
}
.product_img_two{
    width: 100%;
     height: 250px;
    display: flex;
    text-align: center;
    align-items: center;
  
}
.product_img_two__image{
      width: 260px;
      height: 210px;
     object-fit: contain;
      
}




.products_deal {
    display: flex;
    /* width: 19%; */
    max-width: 70%;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 15px;
    padding: 20px;
}
.products_deal>p{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 14px;
    font-family:sans-serif;
    color: #4297ac;
}

.products_deal>p:hover{
    cursor: pointer;
}








 

.products_items {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.products__titles{
    display: flex;
    justify-content: space-between;
}
.product__offer{
    margin-top: 10px;
    background-color: #cc0c39;
    height: 20px;
    border-radius: 2px;
}
.products_discount{
    padding: 3px;
    margin: 0;
    font-size: 13px;
    color: white;
}
.product__deals{
   padding: 0;
   margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;

}



@media (max-width:768px) {
    .slide_part .right_slide {
        display: none;
    }

    .slide_part .left_slide {
        width: 100%;
    }

    .center_img img {
        object-fit: cover;
        height: 120px;
    }
}