 .products_section {
  
    width: 100%;
    background-color: #fff;
    border-radius: 4px;  
}





.products_deal {
    display: flex;
    width: 19%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
}
.products_deal>p{
    margin-top: 30px;
    font-size: 14px;
    font-family:sans-serif;
    color: #4297ac;
}

.products_deal>p:hover{
    cursor: pointer;
}








 .products_items img {
    width: 280px;
    height: 150px;
    object-fit: contain;
    margin-top: 4px;
}

.products_items {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.products__titles{
    display: flex;
    justify-content: space-between;
}
.product__offer{
    margin-top: 10px;
    background-color: #cc0c39;
    height: 20px;
    border-radius: 2px;
}
.products_discount{
    padding: 3px;
    margin: 0;
    font-size: 13px;
    color: white;
}
.product__deals{
   padding: 0;
   margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;

}



@media (max-width:768px) {
    .slide_part .right_slide {
        display: none;
    }

    .slide_part .left_slide {
        width: 100%;
    }

    .center_img img {
        object-fit: cover;
        height: 120px;
    }
}